body{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url("../images/img.png");
    background-size: cover;
    color: black;
    -webkit-tap-highlight-color: black;
}

.sidebar-nav-left {
    padding: 0;
    list-style: none;
    background-color: rgba(47, 79, 79, 0.95);
    float: left;
    border-radius: 20px;
    height: 200px;
}

.sidebar-nav-right {
    padding: 0;
    list-style: none;
    background-color: rgba(47, 79, 79, 0.95);
    float: right;
    border-radius: 20px;
    height: 200px;
}

.content {
    color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: rgba(47, 79, 79, 0.95);
}

.li-background {
    background-color: rgba(47, 79, 79, 0.95);
}

.btn-submit {
    background :chocolate;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    padding: 4px;

}

h1 {
    margin-bottom: auto;
}

.text-link {
    color: chocolate;
    text-decoration: none;
    font-weight: bold;
}

.form-control {
    background-color: darkolivegreen;
    border: 1px solid black ;
}

.table {
    border-color: black;
    color: black;
}

.form-select {
    background-color: darkolivegreen;
    border: 1px solid black ;
}

.page-item.active .page-link{
    background-color: rgb(80, 48, 48);
    color: black;
    border-color: black;
}

.page-link {
    background-color: darkolivegreen;
    border-color: black;
    color: black;
    -webkit-tap-highlight-color: black;
}

a:hover {
    color: rgb(80, 48, 48);
}

.page-link:hover{
    color: black;
    background-color: chocolate;
}

.list-group-item {
    background-color: rgba(47, 79, 79, 0.95);
    border: black 1px solid;
}

.list-group-item:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
