<ul>
  <li class="list-group-item"><a class="text-link" href="{% url 'catalog:index' %}">Home</a></li>
  <li class="list-group-item"><a class="text-link" href="{% url 'catalog:genre-list' %}">Genres</a></li>
  <li class="list-group-item"><a class="text-link" href="{% url 'catalog:manga-list' %}">Mangas</a></li>
  <li class="list-group-item"><a class="text-link" href="{% url 'catalog:translated-manga-list' %}">Translated manga</a></li>
  <li class="list-group-item"><a class="text-link" href="{% url 'catalog:translator-list' %}">Translators</a></li>
</ul>