SideBar
<ul class="sidebar-nav-left content">
  {% if user.is_authenticated %}
    <li>User: {{ user.username }}</li>
    <li><a href="{% url 'logout' %}">Log out</a></li>
  {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
  {% endif %}

  <br>

  <li><a href="{% url 'catalog:index' %}">Home</a></li>
  <li><a href="{% url 'catalog:genre-list' %}">Genres</a></li>
  <li><a href="{% url 'catalog:manga-list' %}">Mangas</a></li>
  <li><a href="{% url 'catalog:translator-list' %}">Translators</a></li>
  <li><a href="{% url 'catalog:translated-manga-list' %}">Translated</a></li>
</ul>