{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="d-inline">
    Genres List
  </h1>
  <a class="btn-submit d-inline" href="{% url 'catalog:genre-create' %}">🖋</a>
  <br>
  <br>
  <form action="" method="get">
    {{ search_form|crispy }}
    <input class="btn-submit" type="submit" value="Search">
  </form>

  {% if genre_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      {% for genre in genre_list %}
        <tr>
          <td>
            <strong><a class="text-link" href="{% url 'catalog:genre-detail' pk=genre.id%}">{{ genre.name }}</a></strong>
          </td>
          <td>
            {{ genre.description|slice:53 }}...
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Unfortunately, there is no genres here yet.</p>
  {% endif %}

{% endblock %}

