{% extends "base.html" %}

{% block content %}
  <h1>
    Genre: {{ genre.name }}
  </h1>
  <a class="btn-submit" href="{% url 'catalog:genre-update' pk=genre.id%}">🔄</a>
  <a class="btn-submit" href="{% url 'catalog:genre-delete' pk=genre.id%}">❌</a>
  <br><br>
  <p>{{ genre.description }}</p>
  <p>We have such mangas with this genre:</p>
  {% for manga in genre.mangas.all %}
    <ul>
      <strong>
        <a class="text-link" href="{% url 'catalog:translated-manga-detail' pk=manga.id %}">"{{ manga.title }}"</a>
      </strong>
    </ul>

  {% endfor %}
{% endblock %}

