{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Genres List
    <a style="float: right" href="{% url 'catalog:genre-create' %}">Create</a>
  </h1>

  <form action="" method="get">
    {{ search_form|crispy }}
    <input type="submit">
  </form>

  {% if genre_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      {% for genre in genre_list %}
        <tr>
          <td>
            <strong><a href="{% url 'catalog:genre-detail' pk=genre.id%}">{{ genre.name }}</a></strong>
          </td>
          <td>
            {{ genre.description|slice:53 }}...
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>the are no genres</p>
  {% endif %}

{% endblock %}
