{% extends "base.html" %}

{% block content %}
  <h1>
    Manga: {{ manga.title }}({{ manga.year }})
  </h1>
  <a class="btn-submit" href="{% url 'catalog:manga-update' pk=manga.id%}">🔄</a>
  <a class="btn-submit" href="{% url 'catalog:manga-delete' pk=manga.id%}">❌</a>
  <br><br>
  <p>Created by: {{ manga.mangaka }}</p>
  <p>Include: {{ manga.chapters }} chapters</p>
  <p>Genres:
    {% for genre in manga.genre.all %}
      {{ genre.name }},
    {% endfor %}
  </p>
  <p>Translated versions:
    {% for translated in manga.original.all %}
     <ul>
       <a class="text-link" href="{% url 'catalog:translated-manga-detail' pk=translated.id %}">
         "{{ translated.translated_title }}"
       </a>
       by
       <a class="text-link" href="{% url 'catalog:translator-detail' pk=translated.translator.id%}">
         {{ translated.translator }}
       </a>
     </ul>
    {% endfor %}
  </p>
{% endblock %}

