{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Translator List

  </h1>

  <form action="" method="get">
    {{ search_form|crispy }}
    <input type="submit">
  </form>

  {% if translator_list %}
    <ul>
      {% for translator in translator_list %}
        <li>
          <a href="{% url 'catalog:translator-detail' pk=translator.id%}">{{ translator.username }}({{ translator.language }})</a>
          Projects:
          {% for translate in translator.translated.all %}
            {{ translate.translated_title }},
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>the are no mangas</p>
  {% endif %}
{% endblock %}