{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="d-inline">
    List of Translated Manga
  </h1>
  <a class="btn-submit d-inline" href="{% url 'catalog:translated-manga-create' %}">🖋</a>
  <br>
  <br>
  <form action="" method="get">
    {{ search_form|crispy }}
    <input class="btn-submit" type="submit" value="Search">
  </form>

  {% if translated_manga_list %}
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Translator</th>
        <th>Original title</th>
      </tr>
      {% for translated in translated_manga_list %}
        <tr>
          <td>
            <strong><a class="text-link" href="{% url 'catalog:translated-manga-detail' pk=translated.id%}">
              {{ translated.translated_title }}
            </a></strong>
          </td>
          <td>
            <a class="text-link" href="{% url 'catalog:translator-detail' pk=translated.translator.id%}">
              {{ translated.translator }}</a>
          </td>
          <td>
            <a class="text-link" href="{% url 'catalog:manga-detail' pk=translated.original_title.id%}">
              {{ translated.original_title }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Unfortunately, there is no mangas in some translation here yet.</p>
  {% endif %}
{% endblock %}