{% extends "base.html" %}

{% block content %}
  <h1>
    {{ translated_manga_detail.translated_title }}
  </h1>
  {% if user.id == translated_manga_detail.translator.id %}
        <a class="btn-submit" href="{% url 'catalog:translated-manga-update' pk=translated_manga_detail.id%}">🔄</a>
    <a class="btn-submit" href="{% url 'catalog:translated-manga-delete' pk=translated_manga_detail.id%}">❌</a>
  {% endif %}
  <br>
  <br>
  <p> This manga in {{ translated_manga_detail.translator.language }} language.</p>
  <p>Original story {{ translated_manga_detail.original_title }} by {{ translated_manga_detail.original_title.mangaka }}.</p>
  <p>
    By<a class="text-link" href="{% url 'catalog:translator-detail' pk=translated_manga_detail.translator.id%}">
    {{ translated_manga_detail.translator }}</a>.
  </p>
  <p>Another translation:</p>
      {% for manga in translated_manga_detail.original_title.original.all %}
        {% if manga.id != translated_manga_detail.id %}
          <ul>
            <a class="text-link" href="{% url 'catalog:translated-manga-detail' pk=manga.id%}">
            {{ manga.translated_title }}</a>
          </ul>
        {% endif %}
      {% endfor %}
  </p>
{% endblock %}
